numpy
requests
torch==1.12.*
fastapi==0.74.*
sentencepiece==0.1.*
transformers
uvicorn[standard]==0.17.*
codecarbon
gunicorn
accelerate
seaborn
matplotlib
pandas
scipy
tabulate
pydantic
scikit-learn
tensorflow
tensorflow-model-optimization
datasets
nltk